.contact {
    background-color: #eae6e1;
    border-top: 15px solid maroon;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-area {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.contact-title {
    font-size: 40px;
    text-align: center;
    font-family: "Chomsky", sans-serif;
}

.contact-description {
    font-size: 21px;
}

.contact-left {
    margin-left: 20px;
    width: 400px;
}


.business-email, .number {
    margin: 0;
    font-size: 18px;
}

.owner {
    margin-top: 20px;
    font-size: 18px;
}



@media (max-width: 800px) {
    .contact-area {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    
    
}
